<a href="https://colab.research.google.com/github/ckdrhs/python/blob/main/%EA%B3%BC%EC%A0%9C9%EB%B2%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(3):
  print(i, "컴퓨터과 3학년 1반")

0 컴퓨터과 3학년 1반
1 컴퓨터과 3학년 1반
2 컴퓨터과 3학년 1반

In [ ]:
for i in range(2,6,1):
  print(i,end="")

2345

In [ ]:
for i in range(3):
  for k in range(2):
    print("난생처음은 쉽습니다.^^(i값:", i, "k값", k,") ")

난생처음은 쉽습니다.^^(i값: 0 k값 0 )
난생처음은 쉽습니다.^^(i값: 0 k값 1 )
난생처음은 쉽습니다.^^(i값: 1 k값 0 )
난생처음은 쉽습니다.^^(i값: 1 k값 1 )
난생처음은 쉽습니다.^^(i값: 2 k값 0 )
난생처음은 쉽습니다.^^(i값: 2 k값 1 )

In [ ]:
i = 0
j = 0
for i in range(1, 10):
 for j in range(2, 10):
   print(j, "X", i, "=", i*j, end=" ")
 print("\n")

2 X 1 = 2 3 X 1 = 3 4 X 1 = 4 5 X 1 = 5 6 X 1 = 6 7 X 1 = 7 8 X 1 = 8 9 X 1 = 9

2 X 2 = 4 3 X 2 = 6 4 X 2 = 8 5 X 2 = 10 6 X 2 = 12 7 X 2 = 14 8 X 2 = 16 9 X 2 = 18

2 X 3 = 6 3 X 3 = 9 4 X 3 = 12 5 X 3 = 15 6 X 3 = 18 7 X 3 = 21 8 X 3 = 24 9 X 3 = 27

2 X 4 = 8 3 X 4 = 12 4 X 4 = 16 5 X 4 = 20 6 X 4 = 24 7 X 4 = 28 8 X 4 = 32 9 X 4 = 36

2 X 5 = 10 3 X 5 = 15 4 X 5 = 20 5 X 5 = 25 6 X 5 = 30 7 X 5 = 35 8 X 5 = 40 9 X 5 = 45

2 X 6 = 12 3 X 6 = 18 4 X 6 = 24 5 X 6 = 30 6 X 6 = 36 7 X 6 = 42 8 X 6 = 48 9 X 6 = 54

2 X 7 = 14 3 X 7 = 21 4 X 7 = 28 5 X 7 = 35 6 X 7 = 42 7 X 7 = 49 8 X 7 = 56 9 X 7 = 63

2 X 8 = 16 3 X 8 = 24 4 X 8 = 32 5 X 8 = 40 6 X 8 = 48 7 X 8 = 56 8 X 8 = 64 9 X 8 = 72

2 X 9 = 18 3 X 9 = 27 4 X 9 = 36 5 X 9 = 45 6 X 9 = 54 7 X 9 = 63 8 X 9 = 72 9 X 9 = 81

In [20]:
i = 0
while(i < 3):
  print("컴퓨터과 3학년 1반")
  i = i + 1

컴퓨터과 3학년 1반
컴퓨터과 3학년 1반
컴퓨터과 3학년 1반

In [24]:
i = 0
while True :
  print("ㅎ")
  i = i + 1
  if i == 10:
    break

ㅎ
ㅎ
ㅎ
ㅎ
ㅎ
ㅎ
ㅎ
ㅎ
ㅎ
ㅎ

In [36]:
def menu() :
 print("##################")
 print("# 1. 덧셈        #")
 print("# 2. 뻴셈        #")
 print("# 3. 나눗셈      #")
 print("# 4. 곱셈        #")
 print("# 5. 종료        #")

def add() :
  num1 = float(input("첫번째 숫자를 입력 : "))
  num2 = float(input("두번째 숫자를 입력 : "))
  sum = num1 + num2
  return sum

def ppa() :
  num1 = float(input("첫번째 숫자를 입력 : "))
  num2 = float(input("두번째 숫자를 입력 : "))
  sub = num1 - num2
  return sub

def nan() :
  num1 = float(input("첫번째 숫자를 입력 : "))
  num2 = float(input("두번째 숫자를 입력 : "))
  div = num1 / num2
  return div

def gob() :
  num1 = float(input("첫번째 숫자를 입력 : "))
  num2 = float(input("두번째 숫자를 입력 : "))
  mul = num1 * num2
  return mul

while True:
  menu()
  select = int(input("매뉴를 선택 : "))
  if select == 5:
    break
  elif select == 1:
    sum = add()
    print("두수의 덧셈결과 : ", sum)
  elif select == 2:
    sub = ppa()
    print("두수의 뻴셈결과 : ", sub)
  elif select == 3:
    div = nan()
    print("두수의 나눗셈결과 : ", div)
  elif select == 4:
    mul = gob()
    print("두수의 곱셈결과 : ", mul)

##################
# 1. 덧셈        #
# 2. 뻴셈        #
# 3. 나눗셈      #
# 4. 곱셈        #
# 5. 종료        #
매뉴를 선택 : 1
첫번째 숫자를 입력 : 2
두번째 숫자를 입력 : 3
두수의 덧셈결과 :  5.0
##################
# 1. 덧셈        #
# 2. 뻴셈        #
# 3. 나눗셈      #
# 4. 곱셈        #
# 5. 종료        #
매뉴를 선택 : 2
첫번째 숫자를 입력 : 5
두번째 숫자를 입력 : 2
두수의 뻴셈결과 :  3.0
##################
# 1. 덧셈        #
# 2. 뻴셈        #
# 3. 나눗셈      #
# 4. 곱셈        #
# 5. 종료        #
매뉴를 선택 : 3
첫번째 숫자를 입력 : 7
두번째 숫자를 입력 : 3
두수의 나눗셈결과 :  2.3333333333333335
##################
# 1. 덧셈        #
# 2. 뻴셈        #
# 3. 나눗셈      #
# 4. 곱셈        #
# 5. 종료        #
매뉴를 선택 : 4
첫번째 숫자를 입력 : 4
두번째 숫자를 입력 : 8
두수의 곱셈결과 :  32.0
##################
# 1. 덧셈        #
# 2. 뻴셈        #
# 3. 나눗셈      #
# 4. 곱셈        #
# 5. 종료        #
매뉴를 선택 : 5